@import "../bootstrap-4.0.0-alpha.6/scss/variables";
// beging customization
$text_color_theme: rgba(36, 37, 34, 0.596);
$border_color: rgba(35, 56, 73, 0.842);
//$btn-border-radius: map-get($sizes, 50 );
$circle:#5befa7;
$traffic_light_green: #4cd964;//#33a532;
$traffic_light_red: #ff3b30; //#cc0605;
$traffic_light_amber: #ff9500;// #fad201;#ffbf00
$cci-info-blue: #40c4ff;   //#007aff
$cci-shadow-dark: black;
$cci-disable-grey: #8e8e93;

$brand-danger: $traffic_light_red;
$brand-warning: $traffic_light_amber;
$brand-success: $traffic_light_green;
$badge-info-bg: $cci-info-blue;

$component_bg_color: #3e4444;
$component_select_color: rgb(95, 95, 95);
$component_hight: 60px;
$component_width: 60px;
$component_img_hight: 50px;
$component_img_width: 50px;
$component_img_radius: map-get($sizes, 50 );
$card-img-overlay-padding: 0%;
// end customization

@import "../bootstrap-4.0.0-alpha.6/scss/bootstrap";
@mixin bg-linear-gradient($bg-primary-color, $start-location-percentage){
  //background: $bg-primary-color;
  background: linear-gradient(to right,rgba($bg-primary-color, 0.8) $start-location-percentage, rgba($bg-primary-color, 0.2)); // W3C 
}

.cci-component-btn {
    cursor: pointer;
    width: 80px !important; //fixed width
    margin: $card-columns-margin; //20px;
    padding: $card-img-overlay-padding; //0%;
    box-shadow: 2px 6px 10px 0 rgba($cci-shadow-dark,0.3);
    z-index: 1;
 
    &:focus {
      box-shadow: 4px 10px 15px 0 rgba($cci-shadow-dark,0.5),
                0px 0px 4px 3px $border_color,
                0px 0px 4px 1.5px $border_color !important; 
    }

    &:active {
      transform: scale(0.85);
      box-shadow: 4px 2px 15px 0 rgba($cci-shadow-dark,0.3);
    }
    &:hover  {
      box-shadow: 4px 10px 15px 0 rgba($cci-shadow-dark,0.5);
    }
 }
  
.cci-component-btn_alarm_0{
@include bg-linear-gradient($brand-danger, 0)
}

.cci-component-btn_alarm_10{
  @include bg-linear-gradient($brand-danger, 10%)
}

.cci-component-btn_alarm_20{
  @include bg-linear-gradient($brand-danger, 20%);
}

.cci-component-btn_alarm_30{
  @include bg-linear-gradient($brand-danger, 30%)
}

.cci-component-btn_alarm_40{
  @include bg-linear-gradient($brand-danger, 40%)
}

.cci-component-btn_alarm_50{
  @include bg-linear-gradient($brand-danger, 50%)
}

.cci-component-btn_alarm_60{
  @include bg-linear-gradient($brand-danger, 60%)
}

.cci-component-btn_alarm_70{
  @include bg-linear-gradient($brand-danger, 70%)
}

.cci-component-btn_alarm_80{
  @include bg-linear-gradient($brand-danger, 80%)
}

.cci-component-btn_alarm_90{
  @include bg-linear-gradient($brand-danger, 90%)
}

.cci-component-btn_alarm_100{
  @include bg-linear-gradient($brand-danger, 100%)
}

.cci-component-btn_warning_0{
  @include bg-linear-gradient($brand-warning, 0)
}

.cci-component-btn_warning_10{
  @include bg-linear-gradient($brand-warning, 10%)
}

.cci-component-btn_warning_20{
  @include bg-linear-gradient($brand-warning, 20%)
}

.cci-component-btn_warning_30{
  @include bg-linear-gradient($brand-warning, 30%)
}

.cci-component-btn_warning_40{
  @include bg-linear-gradient($brand-warning, 40%)
}

.cci-component-btn_warning_50{
  @include bg-linear-gradient($brand-warning, 50%)
}

.cci-component-btn_warning_60{
  @include bg-linear-gradient($brand-warning, 60%)
}
.cci-component-btn_warning_70{
  @include bg-linear-gradient($brand-warning, 70%)
}

.cci-component-btn_warning_80{
  @include bg-linear-gradient($brand-warning, 80%)
}

.cci-component-btn_warning_90{
  @include bg-linear-gradient($brand-warning, 90%)
}

.cci-component-btn_warning_100{
  @include bg-linear-gradient($brand-warning, 100%)
}

.cci-component-btn_green_0{
  @include bg-linear-gradient($brand-success, 0%)
}

.cci-component-btn_green_10{
  @include bg-linear-gradient($brand-success, 10%)
}

.cci-component-btn_green_20{
  @include bg-linear-gradient($brand-success, 20%)
}

.cci-component-btn_green_30{
  @include bg-linear-gradient($brand-success, 30%)
}

.cci-component-btn_green_40{
  @include bg-linear-gradient($brand-success, 40%)
}

.cci-component-btn_green_50{
  @include bg-linear-gradient($brand-success, 50%)
}

.cci-component-btn_green_60{
  @include bg-linear-gradient($brand-success, 60%)
}

.cci-component-btn_green_70{
  @include bg-linear-gradient($brand-success, 70%)
}

.cci-component-btn_green_80{
  @include bg-linear-gradient($brand-success, 80%)
}

.cci-component-btn_green_90{
  @include bg-linear-gradient($brand-success, 90%)
}

.cci-component-btn_green_100{
  @include bg-linear-gradient($brand-success, 100%)
}



.cci-component-btn__img{
  height: $component_img_hight;
  width: $component_img_width;      
  object-fit: fill;
  filter:opacity(80%);
  -ms-filter: opacity(80%);
}

.component_opacity{
  filter:opacity(10%)
}

.cci-badge-position{
  //position: absolute !important;
  left: 80px !important;
}