@import "../bootstrap-4.0.0-alpha.6/scss/variables";


@import "../fontawesome-5.6.1/scss/variables";
$fa-font-path:   "../scss/fontawesome-5.6.1/webfonts";


// end customization
@import "../bootstrap-4.0.0-alpha.6/scss/bootstrap";


@import "../fontawesome-5.6.1/scss/fontawesome";
@import "../fontawesome-5.6.1/scss/solid";



// #root > .CCiLab-component-container {
//   // margin: 20px; 
//   // padding: 20px;
//   height: 100vh;
// } 

// .CCiLab-component-list {
//     height: 90vh;
// }

// .CCiLab-scrollbar
// {
//    overflow: auto; /*for horizontal and vertical scroll bars */
// }

// .horizontal-scrollbar
// {
//        overflow-x: auto; /*for horizontal scroll bar */
//        overflow-y: hidden; /*for hiding vertical scroll bar */
// }

// .CCiLab-vertical-scrollbar
// {
//    overflow-x: hidden; /*for hiding horizontal scroll bar*/
//    overflow-y: auto; /*for vertical scroll bar*/
// }

.flyout-menu {
   overflow: auto;
   border: 2px solid #00D8FF;
   background-color: #DDEEFF;   
   z-index: 1000;
 }
 

 .elemnt-transition {
   -webkit-transition: transform 1s cubic-bezier(0, .52, 0, 1);
   transition: transform 1s cubic-bezier(0, .52, 0, 1);
 }

//// controlled using inline style 
//  .flyout-menu_hide {
//    // -webkit-transform: translate3d(-10vw, 0, 0);
//    // transform: translate3d(-10vw, 0, 0);
//    //overflow:hidden;
//    }
   
// .flyout-menu_show {
//    -webkit-transform: translate3d(0vw, 0, 0);
//    transform: translate3d(0vw, 0, 0);
//    }