@import "../bootstrap-4.0.0-alpha.6/scss/variables";

// $body-bg:#372bd8;

// end customization
@import "../bootstrap-4.0.0-alpha.6/scss/bootstrap";



#root > .CCiLab-component-container {
  margin: 20px; 
  // padding: 20px;
  height: 100vh;
  border: 2px solid green;
} 