@import "../bootstrap-4.0.0-alpha.6/scss/components/bootstrap";
$text_color_theme: rgba(36, 37, 34, 0.596);
$border_color: rgba(104, 169, 223, 0.842);
$circle:#5befa7;
$traffic_light_green: #33a532;
$traffic_light_red: #cc0605;
$traffic_light_amber: #ffbf00;// #fad201;
$component_bg_color: #3e4444;
$component_select_color: rgb(95, 95, 95);
$component_hight: 60px;
$component_width: 60px;
$component_radius: 50%;
$component_img_hight: 60px;
$component_img_width: 60px;
$component_img_radius: 50%;

.ComponentButton {
    border: 1px solid transparent;
    text-align: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    color:$component_select_color;
    transition: 0.2s;
    margin: 20px;
    padding: 0%;
    height: $component_hight;
    width: $component_width;
    border-radius: $component_radius;
    box-shadow: 2px 6px 10px 0 rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
  }
  .ComponentButton:focus{
    transform: scale(1.00);
    box-shadow: 2px 10px 10px 0 rgba(0,0,0,0.5), 0px 0px 4px 3px currentColor, 0px 0px 4px 1.5px currentColor !important;
    outline: none
   // outline: 2px solid grey;
   // outline-offset: 2px;
  }
  .ComponentButton:active{
    transform: scale(0.85);
    box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.3);
  }
  .ComponentButton:hover{
    cursor: pointer;
    box-shadow: 2px 10px 15px 0 rgba(0,0,0,0.5);
  }

  .AlarmButton{
    @extend .ComponentButton;
    background-color: $traffic_light_red; 
  }
  //.AlarmButton:focus{
  //  transform: scale(1.00);
  //  box-shadow:  2px 10px 10px 0 rgba(0,0,0,0.5), 0px 0px 2px 3px $traffic_light_red, 0px 0px 2px 1px $traffic_light_red !important;
  //  outline: none
  //}

  .WarningButton{
    @extend .ComponentButton;
    background-color: $traffic_light_amber;
  }

  .GreenButton{
    @extend .ComponentButton;
    background-color: $traffic_light_green;
  }
  .ComponentImg{
    height: $component_img_hight;
    width: $component_img_width;
    object-fit: auto;
    border-radius: $component_img_radius;
    filter:opacity(20%);
    -ms-filter: opacity(20%);
    //background-blend-mode: multiply;
    //background-color: green;
  }

  .component_opacity{
    filter:opacity(10%)
  }
  /*.HelloWorld {
    border: 2px solid $border_color;
    text-align: center;
    background: #f5f5f5;
    color: $color_theme;
    margin: 20px;
    padding: 20px;
    min-width: 60px;
    max-width:120px;
    border-radius: 100%;
    position: relative
  }*/